.xxs {
  font-size: 10px;
  line-height: 12px;
}

.xs {
  font-size: 16px;
  line-height: 18px;
}

.sm {
  font-size: 16px;
  line-height: 22px;
}

.md {
  font-size: 20px;
  line-height: 28px;
}

.lg {
  font-size: 20px;
  line-height: 30px;
}

.xl {
  font-size: 32px;
  line-height: 40px;
}

.xxl {
  font-size: 42px;
  line-height: 46px;
}

.thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
